# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3
db.sqlite3
.env
staticfiles/

# Node
node_modules/
dist/
.vite/

# Env
.env
.env.local
*.local

# OS / editor
.DS_Store
.idea/
*.log

# Test / coverage
.pytest_cache/
coverage/
.coverage
